@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 8, 126, 122;
  --background-rgb: 241, 249, 249;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}
